@model FishingTournament02.Models.EventRegister

<p>Enter the information to register a person for the event</p>
<h3>Event Information</h3>
<table border="1">
    <tr>
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Event Cost</th>
    </tr>
    <tr>
        <td>@ViewBag.Event.EventID</td>
        <td>@ViewBag.Event.EventName</td>
        <td>@ViewBag.Event.EventCost</td>
    </tr>
</table>
<br>
@{
    if (ViewBag.Event.EventCapacity > 34)
    {
        <p>Sorry this event is at full capacity.</p>
        <p><a asp-controller="Admin" asp-action="AllEvent">Back to event list</a></p>
    }
    else
    {
        <form asp-controller="Admin" asp-action="AddParticipant" method="post">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <br />

            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <br />

            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <br />

            <label asp-for="Phone"></label>
            <input asp-for="Phone" />
            <br />

            <label asp-for="GuestFirstName"></label>
            <input asp-for="GuestFirstName" />
            <br />

            <label asp-for="GuestLastName"></label>
            <input asp-for="GuestLastName" />
            <br />

            <input asp-for="EventID" type="hidden"
                   value=@ViewBag.Event.EventID />

            <button type="submit">Add Participant</button>

        </form>
    }
}

<p><a asp-controller="Admin" asp-action="AllEvent">Back to Events</a></p>
<style>
    label {
        cursor: pointer;
        display: inline-block;
        padding: 3px 6px;
        text-align: right;
        width: 150px;
        vertical-align: top;
    }

    input {
        font-size: inherit;
    }
</style>