@model FishingTournament02.Models.Participant

<p class="text-info lead">Fill out all fields</p>

<h2>Add a participant</h2>

<form asp-controller="Admin" asp-action="AddParticipant" method="post" class="form-horizontal">

    <label asp-for="ParticipantId"></label>
    <input asp-for="ParticipantId" />
    <br />

    <label asp-for="ParticipantName"></label>
    <input asp-for="ParticipantName" />
    <br />

    <label asp-for="ParticipantPhone"></label>
    <input asp-for="ParticipantPhone" />
    <br />

    <label asp-for="ParticipantEvent"></label>
    <input asp-for="ParticipantEvent" />
    <br />

    <button type="submit">Add Participant</button>
</form>
<p><a asp-controller="Admin" asp-action="Index">Back to Home</a></p>
