@model FishingTournament02.Models.EventRegister

<h3>Delete the participant</h3>
<p>Are you sure you want to delete this participant?</p>

<form asp-controller="Admin" asp-action="DeleteParticipant"
      method="post">

    <label asp-for="RegisterId"></label>
    <input asp-for="RegisterId" readonly="readonly" />
    <br />

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" readonly="readonly" />
    <br />


    <label asp-for="Phone"></label>
    <input asp-for="Phone" readonly="readonly" />
    <br />


    <label asp-for="EventID"></label>
    <input asp-for="EventID" readonly="readonly" />
    <br />

    <button type="submit">Yes Delete</button>
</form>

<p><a asp-controller="Admin" asp-action="AllParticipant">
    No, Back to list</a></p>
<style>
    label {
        cursor: pointer;
        display: inline-block;
        padding: 3px 6px;
        text-align: right;
        width: 150px;
        vertical-align: top;
    }

    input {
        font-size: inherit;
    }
</style>