@model FishingTournament02.Models.EventRegister

<h3>Edit the Participant</h3>
<form asp-controller="Admin" asp-action="EditParticipant"
      method="post">

    <input asp-for="RegisterId" type="hidden" />

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <br />

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <br />

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <br />

    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <br />

    <label asp-for="GuestFirstName"></label>
    <input asp-for="GuestFirstName" />
    <br />

    <label asp-for="GuestLastName"></label>
    <input asp-for="GuestLastName" />
    <br />



    <button type="submit">Update Participant</button>

</form>
<style>
    label {
        cursor: pointer;
        display: inline-block;
        padding: 3px 6px;
        text-align: right;
        width: 150px;
        vertical-align: top;
    }

    input {
        font-size: inherit;
    }
</style>