<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Administration Home</title>

</head>
<body>
    <h1>Administration Home </h1>

    <p><a asp-controller="Role" asp-action="AllRole">Show all roles</a></p>

    <p><a asp-controller="Role" asp-action="AddRole">Add a role</a></p>

    <p><a asp-controller="Role" asp-action="AddUserRole">Assign user to a role</a></p>

    <p><a asp-controller="Admin" asp-action="AllEvent">Show events</a></p>

    <p><a asp-controller="Admin" asp-action="AddEvent">Add an event</a></p>

</body>
</html>