<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Administration Home</title>

</head>
<body>
    <h1>Administration Home </h1>

    <p><a asp-controller="Role" asp-action="AllRole">Show all roles</a></p>

    <p><a asp-controller="Role" asp-action="AddRole">Add a role</a></p>

    <p><a asp-controller="Admin" asp-action="AllUser">Assign a role to user</a></p>

    <p><a asp-controller="Admin" asp-action="AllEvent">Show events</a></p>

    <p><a asp-controller="Admin" asp-action="AddEvent">Add an event</a></p>

    <p><a asp-controller="Account" asp-action="Login">Logout</a></p>


    
    @* Need to select which event to remove the participant from? Unless this is meant to remove every instance of the participant? (Brenton)
        
    <p><a asp-controller="Admin" asp-action="AddParticipant">Add a participant</a></p>

    <p><a asp-controller="Admin" asp-action="AllParticipant">Show all participant</a></p>

    <p><a asp-controller="Admin" asp-action="EditParticipant">Edit participant</a></p>

    <p><a asp-controller="Admin" asp-action="DeleteParticipant">Delete participant</a></p>
        
     *@


</body>
</html>