@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADB-US Fishing Tournament</title>
  
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>


    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.4.1/bootstrap.min.js"></script>


    <img src="~/images/fishinglogo1png.png" alt="Logo">
    <nav class="bg-info text-right">
    </nav>

    <div class="container body-content bg-light">

        @if (this.User.Identity.IsAuthenticated)
        {
            <header>Hello, @this.User.Identity.Name</header>

            <form method="post" asp-controller="Account" asp-action="Logout">
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        }

        @RenderBody()
        <hr />

        <footer class="bg-info text-center">
            <p>&copy; @DateTime.Now.Year - ADB-US Fishing Tournament </p>
        </footer>
    </div>



</body>

</html>