@model FishingTournament02.Models.AboutUs
@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<p>
    ADB will provide lodging for Friday night and Saturday night along with meals for Friday night, which will be the fish fry and Saturday after 
    the tournament with a BBQ dinner.   The entry fee is $50.00 per team. 
    100% of the entry fee will be paid out for the tournament.
</p>

<p>
    Rules;  Each team must comprise of at least one ADB employee per boat.  The team may comprise of two ADB employees but no more than two persons per boat.
    Boats that have more than two persons will be disqualified from the tournament.  This is not a family event, this is a fishing tournament.
    A fishing partner may be a family member, a friend or another employee.
    There is a five bass limit per team, the bass maybe Black bass or Kentucky with a minimum length of 15 inches, this length will be measured
    by “The Golden Rule”.   All bass must arrive alive.  Dead bass weighed in will result in a penalty deduction of one pound per fish.
    There will be no “off limit” areas of the lake.  No live bait will be permitted.
</p>

<p>
    Upon team check in at the fish fry, teams will pull their launch positions from randomly shuffled cards.
    These cards will have a scratch off that will reveal their launch number.



    Saturday launch;  There will be random live well inspections prior to launch.  The launch will start at 6:30am and by launch number.
    All participants must were lifejackets while underway.  Lifejackets may be removed while stationary when fishing.
    All boats must return to weigh in prior to 3:00pm at the dock.  After weigh in, participants will proceed to the BBQ.
    Each person will be given a raffle  ticket for door prizes and dine.  Following dinner, the winners of the fishing tournament will be awarded.
    After the awards, the raffle will begin.
</p>

<form method="get" action="Contactus">
    <button type="submit">Contact Us</button>
</form>