@model FishingTournament02.Models.AboutUs
@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<p>This Page is under construction</p>

<form method="get" action="Contactus">
    <button type="submit">Contact Us</button>
</form>