@model Microsoft.AspNetCore.Identity.IdentityRole
<h1>Add a new role</h1>
<form asp-controller="Role" asp-action="AddRole" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />
    <button type="submit">Add Role</button>
</form>
<br />
<p><a asp-controller="Account" asp-action="Index">Back to Home</a></p>

