@model FishingTournament02.Models.Photo
<h3>Add A Photo</h3>
<form asp-controller="Photo" asp-action="AddPhoto"
      method="post" enctype="multipart/form-data"
      class="form-horizonal">
    <div class="form-group">
        <label asp-for="AltAttribute"
               class="control-label col-xs-2">
            alt attribute:
        </label>
        <div class="col-xs-10">
            <input asp-for="AltAttribute" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label col-xs-2">
            Description:
        </label>
        <div class="col-xs-10">
            <input asp-for="Description" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="MyPhoto" class="control-label col-xs-2">
            Select a file to upload
        </label>
        <div class="col-xs-10">
            <input type="file" name="MyPhoto" class="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">
                Add Photo
            </button>
        </div>
    </div>
</form>
