<h2>Photo Home</h2>
<p><a asp-controller="Photo"
      asp-action="AddPhoto">Add Photo</a></p>
<p><a asp-controller="Photo"
    asp-action="DisplayPhoto">
    Display Photo</a>
    </p>
<p><a asp-controller="Admin" asp-action="Index">Return to Administration Home Page</a></p>